<library path="src">
  <class name="My Plugin" type="template_gui_package.hello_gui.ModeDisplay" base_class_type="rqt_gui_py::Plugin">
    <description>
      Medsnake mode display
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>medsnake mode display</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
